<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="AppPageController">
	<h3>Devices:</h3>
	<ul>
		<li ng-repeat="device in devices track by $index">
			{{ device.properties.friendlyName }}
			<ul>
				<li ng-repeat="subDevice in device.subDevices track by $index">
					{{ subDevice.properties.friendlyName }}
					
					<ul>
						<li ng-repeat="service in subDevice.services track by $index">
							{{ service.id }} <button ng-click="selectService(service)">Select</button>
						</li>
					</ul>
				</li>
			</ul>

			<ul>
				<li ng-repeat="service in device.services track by $index">
					{{ service.id }} <button ng-click="selectService(service)">Select</button>
				</li>
			</ul>
		</li>
	</ul>
	
	<h3>Selected service:</h3>
	<div ng-if="selectedService">
		{{ selectedService.id }}
		<button ng-click="subscribeToService()">Subscribe</button>
	</div>

	<h3>Subscriptions:</h3>

	<ul>
		<li ng-repeat="sub in subscriptions track by $index">
			{{ sub.id }}
		</li>
	</ul>
	
	<h3>Received values:</h3>

	<ul>
		<li ng-repeat="dict in receivedValues track by $index">
			<ul>
				<li ng-repeat="(key, value) in dict track by $index">
					{{ key }} : {{ value }}
				</li>
			</ul>
		</li>
	</ul>
</div>

	<script>
		var app = angular.module("myApp", []);

		app.service("AppDeviceService",function ($http) {
			this.getDevices = function () {
				return $http.get('/api/devices')
					.then(function (response) {
						return response.data;
					});}
		});

		app.service("SubscriptionService",
			function($http) {
				this.getSubscriptions = function () {
					return $http.get('/api/subscriptions')
						.then(function (response) {
							return response.data;
						});
				}

				this.subscribe = function(service) {
					return $http.post('/api/subscriptions',
					{
						publisherPath: service.eventSubUrl,
						baseAddress: service.baseUrl,
						timeout: 3600,
						localUrl: window.location.origin
					});
				}

				this.getNotifies = function () {
					return $http.get('/api/subscriptions/notifies')
						.then(function (response) {
							return response.data;
						});
				}
			});

		app.controller("AppPageController",
			function ($scope, $interval, AppDeviceService, SubscriptionService) {
				$scope.selectedService = null;
				$scope.subscriptions = null;
				$scope.receivedValues = [];

				$scope.selectService = function(service) {
					$scope.selectedService = service;
				}

				$scope.subscribeToService = function () {
					if ($scope.selectedService) {
						SubscriptionService.subscribe($scope.selectedService).then(function() {
							$scope.refreshSubscriptions();
						});
					}
				}

				$scope.refreshSubscriptions = function() {
					SubscriptionService.getSubscriptions().then(function(subs) { $scope.subscriptions = subs });
				}

				$scope.refreshReceivedValues = function () {
					SubscriptionService.getNotifies().then(function (data) { $scope.receivedValues = data });
				}

				$interval($scope.refreshReceivedValues, 5000);
				AppDeviceService.getDevices().then(function (data) { $scope.devices = data; });
			});
	</script>
</body>
</html>
